@import "tailwindcss";

body {
  background-color: #000;
}

/* Custom Scrollbars globally */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

.react-select__menu-list {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

.react-select__menu-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.react-select__menu-list::-webkit-scrollbar-track {
  background: transparent;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
